# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore log files
*.log
logs/

# Ignore compiled class files / IDE output
bin/
out/
.DS_Store
